@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --background-color-1: rgb(0, 0, 31);
    --card-color: hsl(0, 0%, 100%);
    --color: hsl(0, 0%, 100%);
    --color-3:#9d81ea;
    --bottom-border:hsl(0, 0%, 60%);
    --lower-footer:hsl(231, 59%, 10%);
    --color-2: hsl(0, 0%, 80%);
    --second-main: hsl(231, 59%, 11%);
    --border-color: #dcdcdc; 
    --section-padding: 100px;
  }
  
html{
    scroll-behavior: smooth;
}
body{
    background: var(--background-color-1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.section-1{
    background-color: var(--background-color-1);
    height: 90vh;


}


header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding:10px 20px;
    color:var(--color-2);
}

.logo {
    margin-top: 10px;
}
.logo img{
    width: 200px;
    height: 100%;
}

 nav {
    display: flex;
}

nav a {
    color:var(--color-2);
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover {
    color: var(--color);
} 


.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color:var(--background-color-1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}

.sidebar a {
    padding: 30px 15px;
    text-decoration: none;
    font-size: 1.2em;
    color:var(--color-2);
    display: block;
    transition: 0.3s ease-in;
}

.sidebar a:hover {
    border: none;
    border-radius: 35px;
    color:var(--color);
}

.sidebar .closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2em;
}



.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color);
    text-align: center;
    height: calc(90vh - 60px);
    justify-content: center;
    animation: fadeIn 2s ease-in-out;
}

.intro h1 {
    font-size: 3.5rem;
    margin: 0;
    font-weight: 600;
}
.intro h1 span{
   color: var(--color-3);
}

.intro .profession {
    font-size: 1.5em;
    margin: 10px 0;
    color: var(--color);
}
.intro .description {
    max-width: 800px;
    margin: 20px 0;
    font-size: 1em;
    color: var(--color-2);
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: transparent;
    color: var(--color-3);
    text-decoration: none;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

.btn:hover {
    background-color: var(--color-3);
    color: #000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

    

/* About section styling */


section{
    padding-block: var(--section-padding);
   
}
.heading h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--color-2);
    position: relative;
}

.heading h1::after {
    content: '';
    display: block;
    width: 200px; 
    height: 4px; 
    background-color: var(--color-3); 
    margin: 10px auto 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}




.left{
    margin-left: 20px;
    float: right;
    height:500px;
     width:45%;
     font-size: 40em;
 }
.right{
    line-height: 1.5em;
    padding: 6rem 1rem;
    margin:0.5rem;
    font-weight:500;
    font-size: 1rem;
    color: var(--color);
    animation: fadeIn 2s ease-in-out; 
}

.right h1 {
    animation: slideIn 1.5s ease-out; 
}
.right ul {
    animation: fadeIn 2s ease-in-out; 
}
.right p {
    margin: 0.5rem;
    line-height: 1.5em;
    animation: fadeIn 2s ease-in-out; 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.right ul{
    margin-top: 0.75rem;
    margin-left: 2rem;
}



/* Skill styling */
 
 .skills-section {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--background-color-2);

}

.skills-section h1 {
    font-size: 50px;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.skill-box {
    flex: 1 1 30%;
    max-width: 30%;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.15rem;
    border-radius: 8px;
    text-align: center;
    background-color:var(--second-main);
    transition: transform 0.3s ease, border-color 0.3s ease;
    border: 2px solid transparent;
}

.skill-box:hover {
    transform: translateY(-2px);
    border: 1px solid var(--border-color);
}
.skill-box p{
    color: var(--color);
    margin: 5px;
    font-size: 1.2rem;
}
.skill-icon {
    font-size: 5rem; 
    margin-bottom: 1rem;
    color: var(--color-2);
    transition: color 0.3s ease;
}

.skill-box:hover .skill-icon {
    color: #0aa0f0;
}

.skill-box:hover .ri-html5-line { color: #e34f26; }
.skill-box:hover .ri-css3-line { color: #1572b6; }
.skill-box:hover .ri-javascript-line { color: #f7df1e; }
.skill-box:hover .ri-code-s-slash-line { color: #3178c6; }
.skill-box:hover .ri-bootstrap-line{ color: #563d7c; }
.skill-box:hover .ri-terminal-box-line { color: #00599C; }
.skill-box:hover .ri-robot-line { color: #FF5F00; }
.skill-box:hover .ri-global-line { color: #3C3C3D; }
.skill-box:hover .ri-vr-line { color: #7028E4; }


/* project style */


.projects-section {
    padding: 20px;
    background-color: var(--background-color-1);
    display: flex;
    flex-direction: column;
    align-items: center; /
}

.projects-section h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 50px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px; 
    width: 100%;
}

.project-card {
    flex: 1 1 30%;
    min-width: 250px;
    background-color:var(--second-main);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in-out;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    line-height: 1.3rem;
}

.project-card:hover {
    background-color: var(--background-color-2);
    box-shadow: 1px 1px 5px 1px var(--border-color);
}

.project-img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.project-details {
    margin-top: 10px;
}

.project-details h3 {
    color: var(--color);
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--bottom-border);
    padding: 10px;
    margin-bottom: 10px;
}



.project-details p {
    margin-bottom: 10px;
    color: var(--color-2);

}

.project-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    background: transparent;
    color: var(--color-3);
    text-decoration: none;
    border: 1px solid var(--color-3);
    transition:all 0.3s ease-in;
}

.project-link:hover {
    background-color: var(--color-3);
    color: #000;
}

/* Contact section */

.contact-section {
    background-color: var(--background-color-2);
    padding: 2rem;
    text-align: center;
}
#id4{
    font-size: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contact-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 600px;
    width: 100%;
}

.contact-card h2 {
    margin-bottom: 1rem;
    font-size: 30px;
    color:var(--color);
}
.contact-card h2 i{
    color:var(--color-3);

}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}



.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    background: var(--second-main);
    border: none;
    border-radius: 4px;
    color: var(--color-2);
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid  var(--color-3);
    border-color: var(--color-3);
    outline: none;
}

.submit-btn {
    background-color:transparent;
    color: var(--color-3);
    border: 1px solid var(--color-3);
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--color-3);
    color: #000;
}


/* Footer styling */
.footer {
    color: var(--color);
    padding: 2rem;
    background-color: var(--second-main);
    text-align: center;
    line-height: 1.4rem;
}

.footer-content p {
    margin-bottom: 1rem;
}

 .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials a {
    text-decoration: none;
    color: var(--color-2);
    font-size: 2rem;
    transition: color 0.3s ease;
}


.socials a[aria-label="LinkedIn"]:hover {
    color: #0077b5; 
}

.socials a[aria-label="Instagram"]:hover {
    color: #e4405f; 
}

.socials a[aria-label="WhatsApp"]:hover {
    color: #25d366; 
}

.socials a[aria-label="GitHub"]:hover {
    color: #333; 
}

.socials a[aria-label="Facebook"]:hover {
    color: #1877f2; 
} 

.copyright {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lower-footer);
    color: var(--color-2);
    width: 100%;
    height: 50px;
}
